version: '3.9'
services:
  backend:
    build: .
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - DB_HOST=${DB_HOST}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - SESSION_SECRET=${SESSION_SECRET}
      - AWS_BUCKET=${AWS_BUCKET}
      - AWS_REGION=${AWS_REGION}
    depends_on:
      - postgres
      - redis
    ports:
      - ${PORT}:${PORT}
  postgres:
    image: postgres:14.1
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
    volumes:
      - ./docker-volumes/postgresql/data:/var/lib/postgresql/data
  redis:
    image: redis:6.2.6
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - 6379:6379
    volumes:
      - ./docker-volumes/redis/data:/data
