name: staging

on:
  push:
    branches: [staging]

  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Docker build and run images
        env:
          PORT: ${{ secrets.PORT_STAGING }}
          NODE_ENV: ${{ secrets.NODE_ENV_STAGING }}
          DOMAIN: ${{ secrets.DOMAIN_STAGING }}
          CERTBOT_EMAIL: ${{ secrets.CERTBOT_EMAIL }}
          FRONTEND_URL: ${{ secrets.FRONTEND_URL_STAGING }}
          DATABASE_NAME: ${{ secrets.DATABASE_NAME_STAGING }}
          AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          REDIS_HOST: ${{ secrets.REDIS_HOST }}
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
          SESSION_SECRET: ${{ secrets.SESSION_SECRET_STAGING }}
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.staging.yml build staging
          docker-compose -f docker-compose.yml -f docker-compose.staging.yml up -d staging
